@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* border: 1px solid red; */
}

body {
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

h1 {
  font-size: 48px;
  color : #fff;
  font-weight: 700;
  line-height: 1.1;
}

p {
  font-size: 16px;
  color : #fff;
  font-weight: 400;
  line-height: 1.5;
}

.search-input {
  background-image: url("./assets/Search.png");
  background-repeat: no-repeat;
  background-position:97%;
}

.search-input:focus {
  outline: 1px solid #fff;
}

@media screen and (max-width: 768px) {
  h1 {
    font-size: 32px;
  }
  .search-input {
    background-position:94%;
  }
}