@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* border: 1px solid red; */
}

body {
  background: #101010;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

h1 {
  font-size: 48px;
  color: #fff;
  font-weight: 700;
  line-height: 1.1;
}

h2 {
  font-size: 32px;
  color: #fff;
  font-weight: 700;
  line-height: 1.1;
}

h4 {
  font-size: 18px;
  color: #fff;
  font-weight: 700;
  line-height: 1.1;
}

p {
  font-size: 16px;
  color: #fff;
  font-weight: 400;
  line-height: 1.5;
}

/* .btn-category:hover{
  background-color: #E50000;
  transition: all 0.3s ease;
}

.btn-category:focus{
  background-color: #E50000;
  transition: all 0.3s ease;
} */

.search-input {
  background-image: url("./assets/Search.png");
  background-repeat: no-repeat;
  background-position: 97%;
}

.search-input:focus {
  outline: 1px solid #fff;
}

.object-cover {
 mask-image: linear-gradient(to top, transparent, black);
}

@media screen and (max-width: 768px) {
  h1 {
    font-size: 32px;
  }

  h2 {
    font-size: 24px;
  }

  .search-input {
    background-position: 94%;
  }
}
